<div id="main-container" class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="row">
			<h1 style="color: rgba(59, 186, 181, 1);text-align: center;">Website is under construction</h1>

				<!--<div class="hl1"></div>-->
				<div class="row" align="center">
					<img class="img-responsive" src="public/images/outstory.png" />
				</div>

				<div class="row">


					<div class="col-xs-1 col-md-3" ></div>
					<div class="col-xs-10 col-md-6" >
						<div class="space1x" ></div>
						<div class="txtNewJustify" >
							<div class="jumbotron2">
								{{'about.infor' | translate}}
							</div>

						</div>
						<div class="space2x" ></div>
						<div class="hl2"></div>
					</div>
					<div class="col-xs-1 col-md-3" ></div>

				</div>
				<div class="row">
					<div class="space3x"></div>
				</div>
			</div>
		</div>
	</div>
</div>